
header {
  width: 100%;
  max-width: 100%;
}

body{
  padding-bottom: env(safe-area-inset-bottom);
}

/* root is assigned to each 'page' */
.root {
  width: 80vw;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .root {
    width: 95vw;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
  }
}